.dashboardBody {
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction:column;
}
.dashboardBodyDiv1 {
    height: 10vh;
    width: 100%;
    display:flex;

}

.dashboardBodyDiv1Inner1 {
    height: 10vh;
    width: 75%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:transparent;
    position:relative;
}

.autoFillSearchUsersDashboardBody {
    position: absolute;
    min-height: 35px;
    max-height: 100px;
    top: 81%;
    width: 25%;
    background-color: #fff;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #425833 white;
    border-radius: .3rem;
    left: 119px;
    background: white;
    border: 1px solid #777;
    z-index: 1;
    display: none;
}


.autoFillSearchUsersDashboard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.searchResultDashboard {
    height: 35px;
    width: 100%;
    color: #425833;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchResultDashboard:hover {
    background-color: #425833;
    color: white;
}





.dashboardBodyDiv1Inner2 {
    height: 10vh;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoutModalBody{
    display:flex;
    flex-direction:column;
    width:100%;
    width:100%;
}

.logoutModalBody1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.logoutModalBody2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logoutYes, .logoutNo{
    padding:13px 30px;
}

.year {
    width: 90px;
    height: 45px;
    border-radius: .1rem;
    color: #425833;
    background-color: #DEE7DE;
    text-align: center;
    border: none;
    margin: 0 5%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboardBodyDiv1Inner2 h4 {
    margin-top:1.2%;
    color: #425833;
}

.section {
    width: 110px;
    height: 45px;
    border-radius: .1rem;
    /* border-radius: 0.3rem; */
    color: #425833;
    background-color: #DEE7DE;
    text-align: center;
    border: none;
    margin-right: 1%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.dashboardSearch {
    height: 50px;
    width: 25%;
    background-color: white;
    border: 2px solid #425833;
    border-radius: .2rem;
    color: #425833;
    padding-left: 2%;
    margin-right: 1%;

}
.dashboardSearch:focus, .section:focus, .year:focus {
    border-color: none; /* Set the border color on focus */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.0); /* Add a subtle box shadow */
}

.searchInputDashboard::placeholder {
    color: #425833;
}


.dashboardSearchBtn {
    height: 50px;
    width: 50px;
    background-color: #183B2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.fa-search {
    height: 40%;
    width: 100%;
    color: white;
    display:flex;
    align-items:center;
    justify-content:center;
}
.fa-search::before {
    font-size: 20px;
    margin-left:15px;
}


    .dashboardBodyDiv2 {
        height: 80vh;
        width: 100%;

        display:flex;
        align-items:center;
    }

.dashboardBodyDiv2Inner {
    height: 95%;
    width: 98%;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #183B2B white;
    background-color: rgba(169, 195, 147, 0.3);
}

.dashbBoardTable {
    height: 100%;
    width: 100%;
    border: 1px solid #425833;
    border-top:none;
    font-family: 'Montserrat', sans-serif;
}


.theadDashboard {
    background: #1E4F3B;
    position: sticky;
    top: 0;
    color: #FFD700;
    text-align: center;
}

.thDashboard {
    padding: 20px 0 20px 0;
}

.tbodyDashboard{
    text-align:center;
}

.tbodyDashboard tr:nth-child(even) {
    background-color: white;
}

.tbodyDashboard td:nth-child(2) {
    border-right: 1px solid #425833;

}
.tbodyDashboard td:last-child {
    border-left: 1px solid #425833;
    background-color:transparent;

}

.tbodyDashboard td {
    padding: 15px;
    border-bottom: 1px solid #425833;
}




























@media only screen and (max-width: 1235px) {
    .dashboardBodyDiv1Inner2 h4 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .dashboardBodyDiv1Inner2 h4 {
       display:none;
    }
    .dashboardBodyDiv1Inner1 {
        width: 85%;
    }

    .dashboardBodyDiv1Inner2 {
        width: 15%;
    }
}
@media only screen and (max-width: 750px) {

    .dashboardBodyDiv1Inner2 h4{
        display:none;
    }

    .year {
        width: 100%;
    }
    .dashboardBodyDiv1Inner1{
        justify-content:center;
    }
    .dashboardBodyDiv1Inner2 {
        justify-content: center;
    }
    .dashboardSearchBtn{
        display:none;
    }
    .dashboardBodyDiv1Inner1Div1{
        width:100%;
    }

    .section{
        display:none;
    }

}

.dashboardBodyDiv1Inner1Div1 {
    height: 100%;
    width: 55%;
    margin-left: 2%;
/*    background-color: #F6F6F6;*/
    display:flex;
    flex-direction:row;

}


.dashboardBodyDiv1Inner1Div1Div1 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}



.dashboardBodyDiv1Inner1Div1Div1Inner1 {
    height: 50%;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}

.dashboardBodyDiv1Inner1Div1Div1Inner2 {
    height: 50%;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-top:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.low, .med, .max {
    height: 100%;
    width: 20%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.low {
    background-color: #DED710;
    color: white;
}
.med {
    background-color: #C3942C;
    color: white;
}
.max {
    background-color: #A9C393;
    color: white;
}
.above {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E24848;
    color:white;
}


.dashboardBodyDiv1Inner1Div1Div2 {
    height: 100%;
    width: 30%;
    border-right: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sectionforLegend {
    width: 80%;
    height: 30px;
    border-radius: .1rem;
    /* border-radius: 0.3rem; */
    color: #425833;
    background-color: #DEE7DE;
    text-align: center;
    border: none;
    margin-right: 3%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}