.holidaysBody {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.holidaysBodyDiv1 {
    height: 10vh;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.holidaysBodyDiv2 {
    height: 80vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.holidaysBodyDiv2Inner1 {
    height: 70vh;
    width: 70%;
    border: 1px solid gray;
    border-right: none;
    border-top: none;
    border-radius: .2rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #1E4F3B white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(169, 195, 147, 0.3);
}

#holidayYear {
    width: 15%;
    max-width:100px;

}

.holidaysBodyDiv1Inner {
    width: 50%;
    height: 100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
#holidaySearch {
    padding-left: 2%;
}
.addHolidayBtn {
    height: 60px;
    max-width: 160px;
    width: 15%;
    border-radius: .3rem;
    background-color: #345F49;
    color: white;
    border: none;
    margin-right: 1%;
}

.tableHoliday {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.theadHoliday {
    background: #1E4F3B;
    position: sticky;
    top: 0;
    color: white;
}
.trHoliday {

}
.thHoliday {
    padding: 20px 0;
    text-align: center;
    font-weight: lighter;
}

.tbodyHoliday {
    text-align: center;
    color: #183B2B;
}

.tableHoliday td {
    padding: 15px;

}

 .tbodyHoliday td:nth-child(2) {
    border-right: 2px solid #425833;
}


.tbodyHoliday tr:nth-child(even) {
    background-color: #c2d7d3;
}


/*table tbody {
    display: block;
    max-height: 300px;

            text-align:center;
    overflow-y: scroll;
}

    table thead, table tbody tr {
        display: table;
        width: 100%;

    }*/

.tbodyHoliday tr td:last-child {
    display: flex;
    height: 100%;
    width: 100%;
    border-bottom: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    background-color:white;
}


.tbodyHoliday .fa {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    background-color: gray;
    cursor: pointer;
}


.tbodyHoliday .fa:hover {
    background-color: #C8C8C8;
}


.tbodyHoliday .fa-pencil {
    color: #F1E902;
}

.tbodyHoliday .fa-trash {
    color: #E24848;
}