@using EmployeeProject.Application.DTOs.Admin;
@model AdminUsersDTO;

@{
    Layout = "_AdminLayout"; 
}

<div class="sectionsBody">

</div>


<script>
        window.addEventListener('DOMContentLoaded', function () {
        var changePassModal = document.getElementById('addSection');
            changePassModal.classList.add('show');
            changePassModal.style.display = 'block';

        });

    function preventFormSubmit(event) {
        event.preventDefault();
        // Open the modal here
        // ...
    }

</script>

@*ADD SECTION*@
<form asp-action="AddSection" method="post">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="addSection" style=" background-color: rgba(0, 0, 0, 0.5);" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

            <div class="modal-content" style="height: 340px; border-radius:.5rem;">

                <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">

                    <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                        <h4 style="color:gold;">ADD SECTION</h4>
                    </div>
                    <div class="modal-headerDiv2">
                        <a asp-action="Index" asp-controller="Admin"><i class="fa fa-times closeAddNewData" aria-label="Close"></i></a>
                    </div>

                </div>
                <div class="modal-body addSectionBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column;">

                    <div class="addSectionBodyDiv1">

                        <div style="width:60%; height:60%;">
                        </div>

                        <div style="width:40%; height:40%; display:flex; justify-content:flex-end;">
                            <button class="addWorkingHoursPerDay" id="addLegendButton" onclick="preventFormSubmit(event)" data-bs-toggle="modal" data-bs-target="#addLegend" style="border:none; width:80%; height:100%; border-radius:.2rem;"><span style="font-size:15px">ADD LEGEND</span></button>
                        </div>

                    </div>

                    <div class="addSectionBodyDiv2">

                        <input type="text" class="form-control-lg addNewUserInput addSectionText" placeholder="Section Name:" autocomplete="off" asp-for="SectionDTO.SectionName" />
                        <i class="fa fa-cog" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#sectionSettings"></i>

                    </div>

                    <div class="" style="height:10%;width:100%; text-align:center;">
                        <span asp-validation-for="SectionDTO.SectionName" class="text-danger"></span>
                    </div>

                    <div class="addSectionBodyDiv3">

                        <button type="submit" class="addWorkingHoursPerDay addSectionBtn" style="border:none; background-color:gray; cursor:not-allowed;" disabled><span style="font-size:20px">ADD</span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>



@*ADD LEGEND*@
<form asp-action="AddLegend" method="post">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="addLegend" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

            <div class="modal-content" style="height: 440px; border-radius:.5rem;">

                <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">

                    <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                        <h4 style="color:gold;">ADD LEGEND</h4>
                    </div>
                    <div class="modal-headerDiv2">
                        <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                    </div>

                </div>

                <div class="modal-body addSectionBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column;">

                    <div class="addSectionBodyDiv1" style="height:30%;">

                        <select class="form-control addNewDataInput" id="addLegendSection" style="color:#425833; width:50%; text-align:center;" asp-for="AddLegendDTO.sectionId">
                        </select>
                        <i class="fa fa-cog" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#legendSettings"></i>
                    </div>

                    <div class="" style="height:5%; display:flex;justify-content:center;align-items:center;">
                        <span asp-validation-for="AddLegendDTO.sectionId" class="text-danger"></span>

                    </div>
                    <div class="" style="height:25%; width:100%;  display:flex;justify-content:space-evenly; align-items:center; flex-direction:row;">
                        <input type="number" id="addLegendLow" style="width:25%;" class="addNewUserInput form-control" placeholder=" Low: " autocomplete="off" asp-for="AddLegendDTO.LOW" />
                        <input type="number" id="addLegendMed" style="width:25%;" class="addNewUserInput form-control" placeholder=" Med: " autocomplete="off" asp-for="AddLegendDTO.MED" />
                        <input type="number" id="addLegendHigh" style="width:25%;" class="addNewUserInput form-control" placeholder=" Max: " autocomplete="off" asp-for="AddLegendDTO.MAX" />
                    </div>
                    <div class="" style="height:10%; display:flex;justify-content:center;align-items:center; flex-direction:row; text-align:center;">
                        <span asp-validation-for="AddLegendDTO.LOW" class="text-danger"></span>
                        <span asp-validation-for="AddLegendDTO.MED" class="text-danger"></span>
                        <span asp-validation-for="AddLegendDTO.MAX" class="text-danger"></span>
                    </div>
                    <div class="addSectionBodyDiv3" style="height:25%; justify-content: flex-end;">
                        <button type="submit" class="addWorkingHoursPerDay addLEgendBtn" style="border:none; background-color:gray; cursor:not-allowed;" disabled ><span style="font-size:20px">ADD</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@*LEGEND SETTINGS*@

<div class="modal fade" id="legendSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content" style="border-radius:.5rem; border-bottom:1px solid gray">

            <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">
                <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                    <h4 style="color:gold;">LEGEND SETTINGS</h4>
                </div>
                <div class="modal-headerDiv2">
                    <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
            </div>
            <div class="modal-body legendSettingsBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column;">

                @*SIGNALR*@

            </div>

        </div>
    </div>
</div>


@*DELETE LEGEND*@
<form asp-action="DeleteLegend" method="post">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="deleteLegendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">
            <div class="modal-content" style="height: 240px; font-family: 'Montserrat', sans-serif; background-color:#142d09;">
                <div class="modal-body logoutModalBody">

                    <div class="logoutModalBody1" style="flex-direction:column">

                        <h5 style="text-align:center;color:gold;">Are you sure you want to delete the Legend of</h5>
                        <h4 id="legendNameToDelete" style="text-align:center;color:gold;"></h4>
                    </div>
                    <input type="hidden" name="id" class="sectionIdToDelete" id="legendIdToDelete" />

                    <div class="logoutModalBody2">
                        <button type="submit" class="btn btn-danger logoutYes"> Yes</button>
                        <button type="button" class="close btn btn-success logoutNo" data-bs-dismiss="modal" aria-label="Close">
                            No
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


@*EDIT LEGEND*@
<form asp-action="UpdateLegend" method="post">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="editLegendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">
            <div class="modal-content" style="height: 240px; font-family: 'Montserrat', sans-serif; background-color:#142d09;">
                <div class="modal-body legendBody">

                    <div class="legendBodyDiv1">

                        <div class="legendBodyDiv1Inner1">

                            <input type="hidden" class="sectionIdToEdit addNewUserInput" asp-for="AddLegendDTO.legendID" id="legendId" />

                            <input type="hidden" class="sectionIdToEdit addNewUserInput" asp-for="AddLegendDTO.sectionId" id="sectionId" />
                            <input type="text" name="sectionName" class="sectionNameToEdit addNewUserInput form-control" id="sectionName" style="text-align:center; background-color:gold; color:black;" disabled />

                        </div>

                        <div class="legendBodyDiv1Inner2">
                            <input type="number" class="form-control addNewUserInput" autocomplete="off" style="width:15%;  background-color:white; color:black;" id="legendLow" asp-for="AddLegendDTO.LOW" />
                            <input type="number" class="form-control addNewUserInput" autocomplete="off" style="width:15%;  background-color:white; color:black;" id="legendMed" asp-for="AddLegendDTO.MED" />
                            <input type="number" class="form-control addNewUserInput" autocomplete="off" style="width:15%;  background-color:white; color:black;" id="legendMax" asp-for="AddLegendDTO.MAX" />
                        </div>

                    </div>
                    <div class="legendBodyDiv2">

                        <button type="submit" class="btn btn-success saveLegend"> SAVE</button>
                        <button type="button" class="close btn btn-danger cancelLegend" data-bs-dismiss="modal" aria-label="Close">
                            CANCEL
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>



@*SECTION SETTINGS*@

<div class="modal fade" id="sectionSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content" style="border-radius:.5rem; border-bottom:1px solid gray">

            <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">
                <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                    <h4 style="color:gold;">SECTION SETTINGS</h4>
                </div>
                <div class="modal-headerDiv2">
                    <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
            </div>
            <div class="modal-body sectionSettingsBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column;">

                @*SIGNALR*@

            </div>

        </div>
    </div>
</div>



@*DELETE SECTION*@
<form asp-action="DeleteSection" method="post">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="deleteSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">
            <div class="modal-content" style="height: 240px; font-family: 'Montserrat', sans-serif; background-color:#142d09;">
                <div class="modal-body logoutModalBody">

                    <div class="logoutModalBody1" style="flex-direction:column">

                        <h5 style="text-align:center; color:gold;">Are you sure you want to Delete </h5>
                        <h4 id="sectionNameToDelete" style="text-align:center;color:gold;"></h4>
                    </div>
                    <input type="hidden" name="sectionId" class="sectionIdToDelete" />

                    <div class="logoutModalBody2">
                        <button type="submit" class="btn btn-danger logoutYes"> Yes</button>
                        <button type="button" class="close btn btn-success logoutNo" data-bs-dismiss="modal" aria-label="Close">
                            No
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


@*Update SECTION*@
<form asp-action="UpdateSection" method="post">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="editSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">
            <div class="modal-content" style="height: 240px; font-family: 'Montserrat', sans-serif; background-color:#142d09;">
                <div class="modal-body logoutModalBody">

                    <div class="logoutModalBody1" style="flex-direction:column">

                        <input type="text" name="sectionName" class="sectionNameToEdit addNewUserInput form-control" style="text-align:center; background-color:white; color:black;" />

                    </div>


                    <div class="logoutModalBody2">
                        <input type="hidden" name="sectionId" class="sectionIdToEdit addNewUserInput" />
                        <button type="submit" class="btn btn-success logoutYes updateSectionSave"> Save</button>
                        <button type="button" class="close btn btn-danger logoutNo" data-bs-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
