@{
    Layout = "_EmployeeLayout";
}
<div class="dataSheetBody">
    <div class="dataSheetBodyDiv1">
        <h1 style="  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);">Your DataSheets</h1>
    </div>
    <div class="dataSheetBodyDiv2">

        <div class="dataSheetBodyDiv2Inner">

            <table class="tableDataSheet">

                <thead class="theadDataSheet">

                    <tr class="trDataSheet">

                        <th class="thDataSheet">SECTION</th>
                        <th class="thDataSheet">RESOURCE NAME</th>
                        <th class="thDataSheet">PROJECT NAME</th>
                        <th class="thDataSheet">ACTIVITY</th>
                        <th class="thDataSheet">BUSINESS/IT</th>
                        <th class="thDataSheet">START DATE</th>
                        <th class="thDataSheet">END DATE</th>
                        <th class="thDataSheet">HOURS/DAY</th>
                        <th class="thDataSheet">HOURS/MONTH</th>
                    </tr>
                </thead>
                <tbody class="tbodyDataSheet">
                        

                </tbody>
            </table>
        </div>


    </div>
</div>