@{
    Layout = "_EmployeeLayout";
}

<div class="holidayBody">
    <div class="holidayBodyDiv1">
        <h1 style="  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);">Holidays</h1>
    </div>
    <div class="holidayBodyDiv2">

        <div class="holidayBodyDiv2Inner1">

            <table class="tableHoliday">

                <thead class="theadHoliday">

                    <tr class="trHoliday">
                        <th class="thHoliday" style="border-radius:.1rem 0 0 0; ">Holiday Names</th>
                        <th class="thHoliday" style="border-radius:0 .2rem 0 0;">DATE</th>
                    </tr>

                </thead>

                <tbody class="tbodyHoliday">



                </tbody>
            </table>
        </div>

    </div>
</div>