@using EmployeeProject.Application.DTOs.Account

@model LoginDTO

@{
    Layout = "_LoginLayout";
}


<div class="loginBody">
    <div class="div1">
        <img src="~/images/prg_logo.png" />
        <h1 class="leftSide"></h1>
    </div>
    <div class="div2">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" style="color:red;"></div>
            <input type="text" asp-for="Username" class="form-control input" placeholder="Username:" />
            <span asp-validation-for="Username" class="text-danger"></span><br>

            <input type="password" asp-for="Password" class="form-control input loginPassword" placeholder="Password:" />
            <span asp-validation-for="Password" class="text-danger mb-1"></span>
            <div class="loginBodyInnerDiv">
                <i class="fa fa-eye passwordEye"></i> <span style="font-size:13px;" class="showPassword">Show Password</span>
            </div>

            <br /></br><br />

            <input type="submit" class="btn" value="Login" />
        </form>
    </div>
    <div class="div3">
        <h1 class="rightSide"></h1>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(".showPassword").on("click", function () {

            var passwordInput = $(".loginPassword");


            var passwordEye = $(".fa");

            if (passwordInput.attr("type") === "password") {
                passwordInput.attr("type", "text");
                passwordEye.addClass("fa-eye-slash").removeClass("fa-eye");
            } else {
                passwordInput.attr("type", "password");
                passwordEye.addClass("fa-eye").removeClass("fa-eye-slash");
            }
        });
    </script>
}